name: Build Kubectl

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]

permissions: write-all

jobs:
  login-repo:
    name: Build and Push Image in Docker Hub and GitHub Container Registry
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag from Dockerfile
        id: extract_tag
        run: echo "::set-output name=tag::$(grep -oP '(?<=KUBECTL_VERSION=)[0-9]+\.[0-9]+\.[0-9]+' Dockerfile)"

      - name: Show extracted tag
        run: echo "Extracted tag is ${{ steps.extract_tag.outputs.tag }}"

      - name: Build and Push Image to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: emanuelfds/kubectl:${{ steps.extract_tag.outputs.tag }}

      - name: Build and Push Image to GitHub Container Registry
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/emanuelfds/kubectl:${{ steps.extract_tag.outputs.tag }}
